body {
    background-color: #5BBCD9;
    margin: 0;
    font-family: "Marmelad", sans-serif;
}

button {
    font-family: "Marmelad";
}

input:focus{
    border: 2px solid #5BBCD9;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 80px auto;
}

.div1 {
    grid-area: 1 / 1 / 2 / 6;
    background-color: #5BBCD9;
}

.div3 {
    position: absolute;
    top: 15px;
    left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 32px;
}

.div3 img {
    width: 50px;
}

.div3 a {
    text-decoration: none;
    color: white;
}

.div4 {
    position: absolute;
    top: 15px;
    right: 30px;
}

.div4 img {
    width: 50px;
    transition: 0.3s;
}

.div4 img:hover {
    opacity: 0.8;
}

.div2 {
    grid-area: 2 / 1 / 3 / 6;
    background-color: #fff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 40px 60px;
}

.div5 p {
    font-size: 36px;
    color: #5BBCD9;
    margin: 0 0 20px 0;
}

.div6 {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 40px;
}

.inputMed {
    width: 70%;
    border: 2px solid #5BBCD9;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    color: #5BBCD9;
    font-family: "Marmelad";
    transition: 0.3s;
}

.inputMed::placeholder {
    color: #ccc;
}

.inputMed:focus {
    outline: none;
    transform: scale(0.98);
    box-shadow: 0 0 10px #5BBCD9;
}

.div6 button {
    background-color: #5BBCD9;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.div6 button:hover {
    background-color: #6bcae6;
}

.content {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.div7 {
    width: 200px;
    height: 200px;
    border: 3px solid #5BBCD9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.div7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.div8, .div9 {
    flex: 1;
    border: 2px solid #5BBCD9;
    border-radius: 10px;
    padding: 20px;
    color: #777;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.div8 label, .div9 label {
    font-size: 14px;
}

input {
    border: 1px solid #5BBCD9;
    border-radius: 6px;
    padding: 8px;
    font-family: "Marmelad";
    color: #5BBCD9;
    font-size: 14px;
    transition: 0.3s;
}

input:focus{
    outline: none;
    transform: scale(0.98);
    box-shadow: 0 0 3px #5BBCD9;
}

select {
    border: 1px solid #5BBCD9;
    border-radius: 6px;
    padding: 8px;
    font-family: "Marmelad";
    color: #5BBCD9;
    font-size: 14px;
    transition: 0.3s;
}

select:focus{
    outline: none;
    transform: scale(1);
    box-shadow: 0 0 3px #5BBCD9;
}

.div10 {
    border: 2px solid #5BBCD9;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    color: #777;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.div10 textarea {
    height: 4vw;
    border: 1px solid #5BBCD9;
    border-radius: 10px;
    font-family: "Marmelad";
    color: #5BBCD9;
    font-size: 14px;
    padding: 1%;
    transition: 0.3s;
}

.div10 textarea:focus{
    outline: none;
    transform: scale(0.98);
    box-shadow: 0 0 3px #5BBCD9;
}

.div11 {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.add {
    background-color: #5BBCD9;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.add:hover{
    background-color: #6bcae6;
}

.delete {
    background-color: #D95B5B;
    color: white;
    border: none;
    padding: 15px 40px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.delete:hover{
    background-color: #f27272;
}

.div7 {
    width: 200px;
    height: 200px;
    border: 3px solid #5BBCD9;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.div7 span {
    display: inline-block;
    transition: transform 0.3s ease;
    color: #777;
}

.div7 span:hover{
    transform: scale(1.15);
}

.div7 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    
    display: flex;              
    align-items: center;       
    justify-content: center;   
    
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
}

.popup.active {
    opacity: 1;
    pointer-events: all;
}

.popup-content {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
}

.popup-content input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #5BBCD9;
    border-radius: 8px;
}

.popup-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.popup-buttons button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#saveImg {
    background-color: #5BBCD9;
    color: white;
}

#closePopup {
    background-color: #ccc;
}